<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASTEROIDS</title>

    <style>
        * {
            box-sizing: border-box;
        }

        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="js/lib/p5.min.js"></script>
    <script src="js/lib/p5.play.js"></script>
    <script src="js/lib/socket.io.js"></script>

    <script>
        const socket = io();
        const storage = {
            users: {},
            ships: {},
            canvas: {
                width: 1024,
                height: 768,
            },
        };

        const readyInterval = setInterval(() => {
            if (p5.instance !== null) {
                socket.emit('ready', storage.canvas);

                clearInterval(readyInterval);
            }
        }, 100);

        socket.on('users', (users) => {
            // Clear old user data
            storage.users = {};

            // Set new data
            for (const user of Object.values(users)) {
                storage.users[user.id] = user.data;
            }
        });
    </script>

    <script src="js/game.js"></script>
</body>
</html>
